
@{
    ViewBag.Title = "Null Notify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/long_trinh.css" rel="stylesheet" />
<div class="container">
    <div class="col-md-8 noti-list">
        <h3 class="noti-page" style="text-align: center;">@ViewBag.NullNoti</h3>
    </div>
</div>

