<link href="~/Content/long_trinh.css" rel="stylesheet" />
<h4 class="noti-page" style="text-align: center;">@ViewBag.NullDelivery</h4>
<h4 class="noti-page" style="text-align: center;">@ViewBag.Forbiden</h4>
<h4 class="noti-page" style="text-align: center;">@ViewBag.NullDealeds</h4>